n8n-workflows/moltbot_core.json
{
  "name": "moltbot_core",
  "nodes": [
    {
      "parameters": {
        "updateTypes": [
          "message"
        ]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract text and prepare payload\nconst text = (items[0].json.message && items[0].json.message.text) || items[0].json.text || '';\nconst chatId = (items[0].json.message && items[0].json.message.chat && items[0].json.message.chat.id) || items[0].json.chatId || null;\n\nitems[0].json = { text, chatId };\nreturn items;"
      },
      "name": "HandleCommand",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "https://n8n.srv1289936.hstgr.cloud/api/v1/workflows",
        "options": {}
      },
      "name": "ListWorkflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json[\"chatId\"] }}",
        "text": "={{ $json[\"body\"] || $json }}"
      },
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HandleCommand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HandleCommand": {
      "main": [
        [
          {
            "node": "ListWorkflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListWorkflows": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
